{% extends 'base.html' %}

{% block content %}
<h1>Home</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, ratione minus et veritatis repellendus rerum qui dolores blanditiis quos recusandae quae ex nobis, dicta laborum, iusto exercitationem aspernatur sit quo provident illo assumenda? Molestias et at eius nam blanditiis id aliquid omnis ullam iusto, quia provident modi tempora reiciendis sunt repellendus dolor autem, non suscipit beatae? Eligendi porro, eum veritatis veniam harum amet dolor neque quos quis est ut quam. Quisquam, officia laboriosam possimus suscipit fugiat commodi sapiente nesciunt iusto voluptatum qui neque velit, exercitationem accusamus accusantium dolorum doloribus consequuntur amet cumque ratione optio id perspiciatis quaerat tempora laborum. Impedit!</p>

{% endblock %}
